body{
    background-color: rgb(194, 173, 253);
}
.box{
    /* background-color: black; */
    width: 20px;
    height: 20px;
    border: 5px solid rgba(0, 0, 0, 0.055);
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 100%;
    animation: roll 2s linear infinite;
}

@keyframes roll{
    100%{
        transform: rotate(360deg);
    }
}

.box1{
    background-color: red;
    width: 50px;
    height: 100px;
    position: relative;
    animation: move 5s linear infinite ;
}

@keyframes move{
    0%{
        left: 0px;
        top: 0px;
        background-color: red;
    }
    25%{
        left: 200px;
        top: 0px;
        background-color: yellow;
    }
    50%{
        left: 200px;
        top: 200px;
        background-color: blue;
    }
    75%{
        left: 0px;
        top: 200px;
        background-color: green;
    }
    100%{
        left: 0px;
        top: 0px;
        background-color: red;
        transform: rotate(360deg);
    }
}

.ghost{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100px;
    width: 80px;
    float: right;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(255, 0, 0);    
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    animation: ghostmove .8s linear infinite alternate;
}
@keyframes ghostmove{
    from{
        top:0;
    }
    to{
        top: 8px;
    }
}
.eyes{
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-between;
    width: 65%;
}
.eye{
    /* background-color: black; */
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(22, 1, 1, 0.055);
}
/* .nose{
    position: absolute;
    top: 40px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.055);
} */
.mouth{
    background-color: rgba(0, 0, 0, 0.055);
    /* position: absolute; */
    top: 35px;
    height: 35px;
    width: 50%;
    border-radius: 100%;
    position: relative;
}
.mouth::before{
    content: '';
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
}
.legs{
    width: 100%;
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: space-between;
}
.leg{
    border-left: 9.8px solid transparent;
    border-right: 9.8px solid transparent;
    border-top: 9.8px solid white;
}